.imgBox {
    height: 100%;
    width: 65px;
}

.img {
    border-radius: 50%;
}

.card-header-font, .card-header-font-light {
    font-size: 0.8em;
}

.card-header-font-light {
    color: #888888;
    font-weight: 300;
}

.card-body {
    background: #FF9509;
    color: #ffffff;
    height: 250px;
    border-radius: 5px;
}

.card-body-text {
    width: 90%;
    text-align: justify-all;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}